In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Angel List Dataset

In [2]:
angelco_df = pd.read_csv('datasets/angelco/angelco_companies.csv')
angelco_df.tail(10)

,Company,Link,Pitch,Joined,Location,Market,Website,Employees,Stage,Total_raised
369,RRE Ventures,https://angel.co/rre-ventures,Early-stage venture capital. We help build sta...,Jul ’12,New York City,-,rre.com,1-10,-,-
370,iWeb Technologies,https://angel.co/iweb-technologies,NaN,Aug ’13,Montreal,-,iweb.com,201-500,NaN,"$22,000,000"
371,Upfront Ventures,https://angel.co/upfront-ventures,NaN,Jun ’13,Los Angeles,Finance,upfront.com,11-50,-,-
372,Markupwand,https://angel.co/markupwand,Convert Photoshop files to beautiful HTML and ...,May ’12,Mountain View,Web Design,markupwand.com,-,-,-
373,Sunglass,https://angel.co/sunglass,Design Together,Apr ’12,San Francisco,Product Design,sunglass.io,-,Seed,"$1,800,000"
374,Octavian Ventures,https://angel.co/octavian-ventures,Seed capital Angel Fund,Dec ’13,Las Vegas,Pre Seed,octavianventures.com,1-10,Series A,"$15,000,000"
375,ShopLocket,https://angel.co/shoplocket,The easiest way to start collecting pre-orders.,Feb ’12,Toronto,Mobile Commerce,shoplocket.com,11-50,Acquired,"$1,000,000"
376,Minbox,https://angel.co/minbox,Changing the way you work,Mar ’12,San Francisco,File Sharing,minbox.com,1-10,Seed,-
377,Metail,https://angel.co/metail,Virtual fittingroom technology for fashion ret...,Feb ’12,London,Retail Technology,metail.com,11-50,NaN,"$24,886,349"
378,Wanderable,https://angel.co/wanderable,Register for adventure. Live for love.,May ’12,Redwood City,Weddings,wanderable.com,1-10,Acquired,-

In [3]:
print("Number of records: {}".format(angelco_df.shape[0]))

Number of records: 379

In [4]:
angelco_kaggle_df = pd.read_csv('datasets/angelco/uStartups.csv')
angelco_kaggle_df.columns
angelco_kaggle_df.tail(10)

,name,email,product_desc,high_concept,location,market1,market2,market3
1034,Apartment List,http://www.apartmentlist.com/,Building the world's most extraordinary rental...,Building the world's most extraordinary rental...,San Francisco,Real Estate,Marketplaces,Rental Housing
1035,Twilio Fund,http://www.twiliofund.com,Twilio Fund is a microfund supported by 500 St...,A 500 Startups-supported microfund for Twilio-...,San Francisco,SaaS,Cloud Computing,Telecommunications
1036,FoundationDB,http://www.foundationdb.com,FoundationDB is a new database engine. It comb...,NoSQL Database with Transactions,Washington,Cloud Computing,Big Data,Deep Information Technology
1037,Gigster,http://www.gigster.com,Gigster does software development & design on ...,Software development on-demand,San Francisco,Marketplaces,Web Development,Freelancers
1038,Swapbox,http://www.swapbox.com,Swapbox allows customers to send and receive p...,Software eComm enabled Logistics - automated s...,San Francisco,E-Commerce,Infrastructure,Logistics
1039,AlwaysOn,http://www.aonetwork.com,"AlwaysOn was founded by Tony Perkins, one of S...",Powering the global Silicon Valley,San Francisco,Social Network Media,Crowdfunding,Big Data Analytics
1040,Instore,https://instoredoes.com,POS is dead. Smart merchants have moved on to ...,Happy selling — instoredoes.com,San Francisco,Loyalty Programs,Retail Technology,Mobile Payments
1041,StartupList,http://startupli.st,StartupList gets startups early adopter tracti...,The social network to drive traction for early...,San Francisco,Consumer Internet,Social Media,Advertising
1042,Mailgun,http://www.mailgun.com,APIs that allow developers and their apps to s...,Modern Email Platform for Developers,San Francisco,Developer APIs,Email,Developer Tools
1043,WaterSmart Software,http://watersmart.com,WaterSmart Software provides water utilities w...,Opower for Water,San Francisco,Analytics,Energy Efficiency,Green

In [5]:
print("Number of records: {}".format(angelco_kaggle_df.shape[0]))

Number of records: 1044

# Enigma Dataset

In [6]:
enigma_dataset = pd.read_csv("datasets/enigma_dataset/enigma_dataset.csv")
enigma_dataset.tail(10)

,sec_file_number,irs_number,filed_as_of_date,entity_name,issuer_name,primary_issuer_address1,primary_issuer_address2,primary_issuer_city,primary_issuer_state_or_country,primary_issuer_state_or_country_description,...,other_type_security_offered,other_type_security_offered_description,is_business_combination_transaction,is_business_combination_transaction_clarification,dollar_ammount_sales_commissions,dollar_ammount_sales_commissions_is_estimate,dollar_ammount_finders_fees,sales_commissions_clarification,dollar_ammount_use_of_proceeds,use_of_proceeds_clarification
22978,021-324424,364296006.0,2018-10-26,"Medite Cancer Diagnostics, Inc.","MEDITE CANCER DIAGNOSTICS, INC.",10524 Moss Park Rd. Ste-204-357,NaN,Orlando,FL,FLORIDA,...,NaN,NaN,False,NaN,0,NaN,0,NaN,0,NaN
22979,021-324071,411310772.0,2018-10-22,HANSEN ENGINE CORP,HANSEN ENGINE CORP,12920 HIGHWAY 55,NaN,PLYMOUTH,MN,MINNESOTA,...,NaN,NaN,False,NaN,150000,True,0,NaN,0,Proceeds will be used for working capital. The...
22980,021-323243,463022406.0,2018-10-10,TM TECHNOLOGIES INC,TM TECHNOLOGIES INC,6969 EAST SUNRISE DRIVE,SUITE 100,TUCSON,AZ,ARIZONA,...,NaN,NaN,False,NaN,0,NaN,0,NaN,0,NaN
22981,021-322497,341545356.0,2018-10-01,LIBERTY BANCSHARES INC,LIBERTY BANCSHARES INC,118 S MAIN ST,NaN,ADA,OH,OHIO,...,NaN,NaN,False,NaN,600000,True,0,NaN,0,NaN
22982,021-324515,42795294.0,2018-10-29,"PRECISION OPTICS CORPORATION, INC.","PRECISION OPTICS CORPORATION, INC.",22 EAST BROADWAY,NaN,GARDNER,MA,MASSACHUSETTS,...,NaN,NaN,False,NaN,0,NaN,0,NaN,0,We intend to use the net proceeds for general ...
22983,021-324261,680232575.0,2018-10-24,"theMaven, Inc.","theMaven, Inc.","1500 FOURTH AVENUE, SUITE 200",NaN,SEATTLE,WA,WASHINGTON,...,NaN,NaN,False,NaN,0,NaN,0,NaN,0,NaN
22984,021-323385,330526900.0,2018-10-12,NEIGHBORHOOD BANCORP,NEIGHBORHOOD BANCORP,1717 SWEETWATER RD.,NaN,NATIONAL CITY,CA,CALIFORNIA,...,NaN,NaN,False,NaN,0,NaN,0,NaN,0,NaN
22985,021-323450,382806518.0,2018-10-12,FENTURA FINANCIAL INC,FENTURA FINANCIAL INC,175 NORTH LEROY,NaN,FENTON,MI,MICHIGAN,...,NaN,NaN,False,NaN,525000,True,0,NaN,0,NaN
22986,021-323964,0.0,2018-10-19,THERALASE TECHNOLOGIES INC /FI,THERALASE TECHNOLOGIES INC /FI,41 Hollinger Road,NaN,TORONTO,A6,"ONTARIO, CANADA",...,NaN,NaN,False,NaN,0,NaN,0,NaN,0,NaN
22987,021-324681,593304822.0,2018-10-30,PILOT BANCSHARES INC,PILOT BANCSHARES INC,12471 W. LINEBAUGH AVENUE,NaN,TAMPA,FL,FLORIDA,...,NaN,NaN,False,NaN,484359,NaN,0,NaN,0,NaN

In [17]:
print("Number of records: {}".format(enigma_dataset.shape[0]))

Number of records: 22988

In [8]:
# Autopsy dataset
autopsy_df = pd.read_csv("datasets/autopsy_io/failed_companies_autopsyio_dataset.csv")
autopsy_df.tail(10)

,Date_of_Failure,Startup,Idea,Reason_for_Failure,Full_Story,Founder,Startup_link,Full_story_link,Founder_link
152,Dec 2008,Diffle,social network based on simple 2D flash games,it ended up going nowhere',Aftermath,@jontang,NaN,http://diffle-history.blogspot.de/2008/12/afte...,https://twitter.com/jontang
153,Jul 2008,Monitor110,data and information gathering service,not close enough to the customer,Monitor 110: A post mortem,@infoarbitrage,https://www.crunchbase.com/organization/monito...,http://informationarbitrage.com/post/698402433...,https://twitter.com/infoarbitrage
154,Jun 2008,BricaBox,personal social content,"tackled a technical problem, not a Market Problem",BricaBos: Goodbye World,@kylebragger,https://www.crunchbase.com/organization/bricabox,http://innonate.com/blog/2008/06/19/bricabox-g...,https://www.crunchbase.com/person/kyle-bragger
155,May 2008,Meetro,a multi-network social messenger,people just weren't excited about the idea',Anatomy Of A Failure: Lessons Learned,@Vlauria,https://www.crunchbase.com/organization/meetro,http://techcrunch.com/2008/05/20/anatomy-of-a-...,https://twitter.com/vlauria
156,May 2008,Kiko,an online calendar,"too slow at times, and focused on the wrong th...","Lessons from Kiko, web 2.0 startup, about Its ...",@justinkan,https://www.crunchbase.com/organization/kiko,https://hitechstartups.wordpress.com/2008/05/2...,https://twitter.com/justinkan
157,Apr 2008,Nouncer,micro-blogging service,lacked the audience my product needed to succeed,The Last AnNounce(r)ment,@eranhammer,https://www.crunchbase.com/organization/nouncer,http://hueniverse.com/2008/04/25/the-last-anno...,https://twitter.com/eranhammer
158,Jul 2007,Backfence,create hyper-local community sites,internal problems made it impossible to reach ...,Co-Founder Potts Shares Lessons Learned from B...,@pottsmark,https://www.crunchbase.com/organization/backfence,http://www.pbs.org/mediashift/2007/07/co-found...,https://twitter.com/pottsmark
159,Jan 2007,Bitpass,Online micropayments,"crappy business model, tried to do too much, l...",Bitpass Croaks: Is This the End of Micropayments?,@_nvs,https://www.crunchbase.com/organization/bitpass,http://venturebeat.com/2007/01/19/bitpass-croa...,http://twitter.com/_nvs
160,Jul 2006,Cryptine,information security services,the board couldn't break the deadlock,key lessons from Cryptine network's failure,@nunderwood,https://www.crunchbase.com/organization/crypti...,http://andrewbfife.blogspot.com/2006/07/key-le...,https://twitter.com/nunderwood
161,May 2000,Boo.com,High End Sportwear e-tailer,"High ambitions, poor execution",Boo.com goes bust,NaN,https://www.crunchbase.com/organization/boo-co...,http://www.tnl.net/blog/2000/05/19/boocom-goes...,NaN

In [16]:
autopsy_df.drop_duplicates(inplace=True)
print("Number of records: {}".format(autopsy_df.shape[0]))

Number of records: 162